#gePreview {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  overflow: hidden;
}
.gePreview_bg{
  height: 100%;
  overflow:auto;
}
.gePalette {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.2;
  word-break: break-word;
  overflow-wrap: break-word;
}
.gePalette .flipH {
  -moz-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
  filter: FlipH;
}
.bg {
  position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.3;
  right: 0px;
  width: 100%;
	height: 100%;
	z-index: 10085;
	background: #000000;
}
#geDialogs .geDialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 2px;
  z-index: 10086;
  background: #fff;
	-webkit-box-shadow:0px 0px 24px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow:0px 0px 24px 0px rgba(0, 0, 0, .3);
	box-shadow:0px 0px 24px 0px rgba(0, 0, 0, .3);
}
#geDialogs .geDialog .geDialogTitle {
  color: #252525;
  font-size: 12px;
  line-height: 36px;
  height:36px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  pointer-events: none;
  background: linear-gradient(0deg,rgba(216,216,216,1) 0%,rgba(228,227,228,1) 100%);
}
#geDialogs .geDialog .geDialogTitle::after {
	content: '';
	background: url(./../images/default/closeDialog.png);
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	pointer-events: auto;
}
#geDialogs .geDialog .geDialogContent {
  height: calc(100% - 36px);
  padding: 0 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
#gePreview .gePalette .buttonTag{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}
#formatLayer {
  position: absolute;
  min-width: 120px;
  min-height: 60px;
  max-height: 400px;
  opacity:0.86;
  padding: 6px;
  background: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #333;
  border-radius: 4px;
  display:none;
  left: -9999px;
  top: -9999px;
  z-index: 99999;
  animation: opacity .4s ease .6s;
}
.buttonTag {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
#gePreview .gePreviewMenu{
  position: fixed;
  top:0px;
  font-size:14px;
  z-index:10;
  overflow: hidden;
  opacity:0.86;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.preview-menu-check{
  cursor: pointer;
}
.gePreviewMenuIcon{
  position: fixed;
  width:40px;
  height:20px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  opacity: .86;
  z-index:100;
}
.gePreviewMenuIcon[data-check="0"] i{
  transition: transform .5s ease;
  transform: rotate(180deg);
}
.gePreviewMenuIcon[data-check="1"] i{
  transition: transform .5s ease;
  transform: rotate(0deg);
}