body {
    margin: 0;
}
* {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}
.clearFix{
    clear: both;
    display: block;
    overflow: auto;
}

 